html{
	scroll-behavior: smooth;
}
body{
text-align: center;
}
.para{
	line-height: 60px;
	font-size:130%	;	 
}


.buttons{
	background-color: #b00707;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 32px;
	margin: 4px 6px;
	transition: 0.3s; 
	border: none;
	border-radius: 15px;
	

}
.buttons:hover{
	color: black;
	background-color: #ddd;
	border: none;
}