body{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.font-awesome{
	margin-top: 30px;
	padding: 10%;
	color: #b00707 !important;
	display: flex;

}
.font-awesome:hover{
	background-color: #ddd;
}

